@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: white;
}

nav{
    top: 0;
}

a{
    padding: 14px;
    color: white;
    text-decoration: none;
    display: block;
}

a:hover:not(.active){
    background-color: #111;
    color: silver;
}

li{
    float: left;
}

.mainnav{
    text-align: center;
    margin: 0;
    padding: 0;
    top: 0;
    height: 47px;
    width: 100%;
    background-color: #333;
    color: white;
    list-style-type: none;
    box-shadow: 0px 2px 5px gray;
}

.active{
    background-color: rgb(0, 206, 103);
}